.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  &__main {
    height: 100px;
    text-align: center;
    width: 80%;
  }
}
